* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5b5b5b;
}
button {
  width: 5em;
  height: 2em;
  font-size: 18px;
  font-weight: 600;
  border: 3px solid rebeccapurple;
  border-radius: 8px;
  transition: 0.2s;
}
button:hover {
  cursor: pointer;
  width: 5.2em;
  height: 2em;
  font-size: 22px;
  font-weight: 700;
}
@media screen and (max-width: 700px) {
  button {
    width: 5em;
    height: 2em;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid rebeccapurple;
    border-radius: 8px;
    transition: 0.2s;
  }
  button:hover {
    width: 5em;
    height: 2em;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid rebeccapurple;
    border-radius: 8px;
  }
}
